src/datasets/*
src/saved_model_varibles/*


# Ignore all JSON files anywhere
*.json


# Ignore all .tiff files anywhere
*.tif

# Ignore common Python cache directories
__pycache__/
*.py[cod]

# Ignore any generic cache directories
.cache/
cache/
*.log
